.taro-region-picker {
  border: 1PX solid #ccc;
  border-radius: 8PX;
  margin: 10PX 0;
  padding: 10PX;
  text-align: left;
  font-size: 14PX;
  width: auto;
}

.taro-region-picker-gray {
  color: #999999;
}

.taro-region-picker-black {
  color: #000000;
}
